<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- 마이바티스(스프링연동x) 로그 기록  -->
<!-- 스프링부트 주석 
<settings>
<setting name="logImpl" value="LOG4J"/>
</settings>
-->

<typeAliases>
	<typeAlias type="chatbot.PizzaDTO" alias="pizza"/>
	
</typeAliases>

</configuration>